/* site colors defined in SCSS*/
 
$caramel: #883d07;
$pistachio: #b9ff66;
$ppink: #fff6f3;
$choc: #673f33;
$dchoc: #3b241f;
$dpink: #ffc1c1;
$overlay: #ffc1c191;

/* site fonts defined in SCSS*/

$site-font: 'Noto Serif', serif;
$fancy-font: 'Sofia', cursive;

/* site effects defined as mixins in SCSS */

@mixin site-links {
    background:
       linear-gradient(
       to right,
       $caramel 0%,
       $caramel 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0.5px 0.5px;
    
    text-decoration: none;
    transition: background-size .025s;
}

@mixin site-links-hover {
    background-size: 0.5px 50px;
}

@mixin cake-button {
    background-color: $dpink;
    color: $dchoc;
    border-color: #b98a8a;
}

@mixin cake-button-hover {
    background-color: $caramel;
    color: $dpink;
    border-color: $dchoc;
}

/* site standard styles */


body {
    background: {
        color: $dpink;
        image: linear-gradient($overlay, $overlay), url(../img/art-artificial-background-1061581.jpg);
        size: cover;
        repeat: repeat;
    }
    font-family: $site-font;
    color: $dchoc;
}

.container-fluid {
    padding: 0px;
    height: 97.5vh;
    overflow: auto;
}

.navbar {
    background-color: $dpink;
    color: $dchoc;
    padding: 0px;
    box-shadow: 0px 1px 5px 0px rgba(127,96,96,1);
}

.navbar-brand {
    margin: 0px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    color: $dchoc;
    font-family: $fancy-font;
    font-size: 2rem;
    @include site-links;
    &:hover {
        color: $dpink;
        @include site-links-hover;
    }
}


.navbar-toggler {
    &:hover {
        color: $dpink;
        background-color: $caramel;
    }
}

.nav-link {
    margin: 0px;
    padding: 15px;
    color: $dchoc;
    text-align: center;
    @include site-links;
    &:hover {
        color: $dpink;
        @include site-links-hover;
    }
}

.user_msg {
    background-color: $ppink;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 30px 15px;
    p {
        margin: 0px;
        padding: 15px;
    }
    @media (min-width: 992px) {
    }
}

.message-box {
    height: 65px;
}

#user-welcome {
    width: 100%;
    @media (min-width: 992px) {
        width: auto;
    }
}

.hidden {
    display: none;
}

.visible {
    visibility: visible;
}

footer {
    background-color: $dpink;
    text-align: center;
}

.footer-info {
    margin: 0;
}

.btn {
    @include cake-button;
    &:hover, &:not(:disabled):not(.disabled):active {
        @include cake-button-hover;
    }
}

/* index styles */

.desktop {
    @media (max-width: 991.98px) {
        display: none;
    }
    @media (min-width: 992px) {
        visibility: visible;
        height: 100%;
        overflow: hidden; 
    }
}


.index-layout {
    position: relative;
    height: 95.8vh;
    overflow: hidden;
    @media (min-width: 1023.98px) {
        height: 97.5vh;
    }
}

.overlay {
    left: 0px;
    position: absolute;
    background: $overlay;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 1;
    @media (max-width: 991.98px) {
        display: none;
    }
    @media (min-width: 992px) {
        visibility: visible;
        height: 100%;
        width:100%;
        overflow: hidden; 
    }
}

.title {
    position: absolute;
    font-family: $fancy-font;
    color: $caramel;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#site-title {
        text-shadow: 2px 2px 4px #eac0a2;
        @media (max-width: 991.98px) {
        font-size: 3rem;
    }
        @media (min-width: 992px) {
        font-size: 6.5rem;
    }
}

#title-text {
    text-align: center;
    width: 80%;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px #eac0a2;
}

#myVideo {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    object-position: left;
}

#index-search {
    font-family: $site-font;
}



/* search results.html */

.search-results-layout {
    position: relative;
    height: 95.8vh;
    
}

.recipe-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px; 
    margin-top: 70px;
    width: 100%;
}

.card {
   height: 30rem;
   width: auto;
   margin-bottom: 15px;
   background-color: $ppink;
}

.card-row {
    margin: 0px
}

.card-title {
    font-family: $fancy-font;
}

.card-text {
    height: 8rem;
    margin-bottom: 50px;
    overflow: hidden;
}

.card-img-top {
    height: 12rem;
}

.card-btn {
    position: absolute;
    bottom: 1.5rem;
    @include cake-button;
    &:hover {
        @include cake-button-hover;
    }
    &:not(:disabled):not(.disabled):active {
        @include cake-button-hover;
        box-shadow: 0, 0, 0, 0.2rem rgba(185,138,138,0.5);
    }
}

/* add recipe.html */

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-recipe {
    margin: 100px 0px;
    padding: 20px;
    border-bottom-width: 20px;
    background-color: $ppink;
    width: 80%;
}

/* view recipe.html */

.view-recipe-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}


.view-recipe {
    background-color: $ppink;
    width: 95%;
    margin-top: 70px;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.recipe-img {
    img {
    width: 100%;
    margin-bottom: 15px;
    }
}

/* user home.html */
.user-home-layout {
    margin-top: 50px;
}
