/* site colors defined in SCSS*/
/* site fonts defined in SCSS*/
/* site effects defined as mixins in SCSS */
/* site standard styles */
body {
  background-color: #ffc1c1;
  background-image: linear-gradient(#ffc1c191, #ffc1c191), url(../img/art-artificial-background-1061581.jpg);
  background-size: cover;
  background-repeat: repeat;
  font-family: "Noto Serif", serif;
  color: #3b241f; }

.navbar {
  background-color: #ffc1c1;
  color: #3b241f;
  padding: 0px;
  box-shadow: 0px 1px 5px 0px #7f6060; }

.navbar-brand {
  margin: 0px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  color: #3b241f;
  font-family: "Sofia", cursive;
  font-size: 2rem; }
  .navbar-brand:hover {
    color: #883d07; }

.navbar-toggler:hover {
  color: #ffc1c1;
  background-color: #883d07; }

.nav-link {
  margin: 0px;
  padding: 15px;
  color: #3b241f;
  text-align: center;
  display: block;
  /* Ian Lunn hover fade */
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color; }
  .nav-link:hover {
    color: #ffc1c1;
    background-color: #883d07;
    color: #ffc1c1; }

.user_msg {
  background-color: #fff6f3;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  margin: 30px 15px; }
  .user_msg p {
    margin: 0px;
    padding: 15px;
    border: solid 1px #b9ff66; }

.message-box {
  height: 65px; }

#user-welcome {
  width: 100%; }
  @media (min-width: 992px) {
    #user-welcome {
      width: auto; } }

.hidden {
  display: none; }

.visible {
  visibility: visible; }

footer {
  background-color: #ffc1c1;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0px; }

.footer-info {
  font-size: 1rem;
  margin: 0; }

.icon-credits {
  font-size: 0.8rem;
  margin-bottom: 0; }
  .icon-credits a {
    text-decoration: none;
    color: #3b241f; }

.cake-btn {
  background-color: #ffc1c1;
  color: #3b241f;
  border-color: #b98a8a; }
  .cake-btn:hover, .cake-btn:not(:disabled):not(.disabled):active {
    background-color: #883d07;
    color: #ffc1c1;
    border-color: #3b241f; }
  .cake-btn:disabled, .cake-btn.disabled {
    background-color: #883d07;
    color: #ffc1c1;
    text-decoration: none;
    border: none; }

/* scrollbar styles */
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #fff6f3; }

::-webkit-scrollbar-thumb {
  background: #883d07; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffc1c1; }

/* custom checkboxes */
.form-check-label {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #3b241f; }
  .form-check-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
    .form-check-label input :checked ~ .checkmark {
      background-color: #883d07; }
  .form-check-label:hover input ~ .checkmark {
    background-color: #ccc; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee; }

/* On mouse-over, add a grey background color */
.form-check-label:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the checkbox is checked, add a background */
.form-check-label input:checked ~ .checkmark {
  background-color: #883d07; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.form-check-label input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.form-check-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #ffc1c1;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

/* index styles */
@media (max-width: 991.98px) {
  .desktop {
    display: none; } }
@media (min-width: 992px) {
  .desktop {
    visibility: visible;
    height: 100%;
    overflow: hidden; } }

.index-layout {
  position: relative;
  height: 94.5vh;
  overflow: hidden; }
  @media (min-width: 1023.98px) {
    .index-layout {
      height: 95.6vh; } }

.overlay {
  left: 0px;
  position: absolute;
  background: #ffc1c191;
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 1; }
  @media (max-width: 991.98px) {
    .overlay {
      display: none; } }
  @media (min-width: 992px) {
    .overlay {
      visibility: visible;
      height: 100%;
      width: 100%;
      overflow: hidden; } }

.title {
  position: absolute;
  font-family: "Sofia", cursive;
  color: #883d07;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 2; }

#site-title {
  text-shadow: 2px 2px 4px #eac0a2; }
  @media (max-width: 991.98px) {
    #site-title {
      font-size: 3rem; } }
  @media (min-width: 992px) {
    #site-title {
      font-size: 6.5rem; } }

#title-text {
  text-align: center;
  width: 80%;
  font-size: 1.4rem;
  text-shadow: 2px 2px 4px #eac0a2; }

#myVideo {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  object-position: left; }

#index-search {
  font-family: "Noto Serif", serif; }

/* search results.html */
.search-results-layout {
  position: relative;
  min-height: 95.8vh;
  margin-top: 80px; }

.user-cards,
.recipe-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0px;
  margin-top: 30px;
  width: 100%; }

.r-card {
  height: 37rem;
  width: auto;
  margin-bottom: 15px;
  background-color: #fff6f3; }
  .r-card img {
    object-fit: cover; }

.r-card-title,
.likes-info {
  border-bottom: solid 1px #ffc1c1;
  padding-bottom: 15px; }

.accordion {
  margin-top: 20px; }

.btn-link {
  text-decoration: none;
  color: #3b241f; }
  .btn-link:hover {
    color: #883d07;
    text-decoration: none; }

.card-header {
  background-color: #fff6f3; }

.card-row {
  margin: 0px; }

.card-title {
  font-family: "Sofia", cursive; }

.card-text {
  height: 10rem;
  margin-bottom: 50px; }

.card-img-top {
  height: 14rem; }

.card-btn {
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-left: 0;
  padding: 0px 20px; }
  .card-btn a {
    background-color: #ffc1c1;
    color: #3b241f;
    border-color: #b98a8a; }
    .card-btn a:hover {
      background-color: #883d07;
      color: #ffc1c1;
      border-color: #3b241f; }
    .card-btn a:not(:disabled):not(.disabled):active {
      background-color: #883d07;
      color: #ffc1c1;
      border-color: #3b241f;
      box-shadow: 0, 0, 0, 0.2rem rgba(185, 138, 138, 0.5); }

.tags {
  padding-right: 10px;
  font-size: 0.8rem;
  margin-bottom: 0.4rem; }

/* add recipe.html */
.layout {
  display: flex;
  flex-direction: column;
  align-items: center; }

.add-recipe {
  margin: 100px 0px;
  padding: 20px;
  border-bottom-width: 20px;
  background-color: #fff6f3;
  width: 80%; }

#search-again-btn {
  margin-left: 20px; }

/* view recipe.html */
.view-recipe-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 94.7vh; }

.view-recipe {
  background-color: #fff6f3;
  width: 95%;
  margin-top: 70px;
  padding-top: 15px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 15px;
  margin-bottom: 25px; }

.recipe-img {
  display: inline-block; }
  .recipe-img img {
    width: 100%;
    margin-bottom: 15px;
    height: auto;
    object-fit: cover; }

.tag-details {
  display: inline-block;
  float: right; }

/* user home.html */
.user-home-layout {
  margin-top: 60px; }
  @media (min-width: 992px) {
    .user-home-layout {
      height: 90.5vh; } }

.user-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-evenly;
  margin: 0px;
  margin-top: 30px;
  width: 100%; }
  @media (min-width: 992px) {
    .user-cards {
      height: 93%; } }

.u-card {
  height: 26rem;
  width: auto;
  margin-bottom: 15px;
  background-color: #fff6f3; }
  .u-card img {
    object-fit: contain;
    border-bottom: solid 1px #ffc1c1;
    padding-bottom: 10px; }

.u-card-title {
  font-family: "Sofia", cursive;
  text-align: center;
  font-size: 2.25rem; }

.u-card-btn {
  justify-content: center; }

/* register and login */
.view-user-login {
  height: 75vh;
  width: 87%;
  margin-top: 90px; }
  @media (min-width: 426px) {
    .view-user-login {
      height: 46vh;
      margin-top: 180px; } }
  @media (min-width: 992px) {
    .view-user-login {
      height: 45vh;
      width: 50%;
      margin-top: 250px; } }

.login-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 97.5vh; }

/* edit account */
.edit-account input {
  margin-left: 30px; }

/* add recipe */
.add-btn {
  margin-top: 10px;
  margin-bottom: 10px; }

/*# sourceMappingURL=main.css.map */
