/* site colors defined in SCSS*/
 
$caramel: #883d07;
$pistachio: #b9ff66;
$ppink: #ffded4;
$choc: #673f33;
$dchoc: #3b241f;
$dpink: #ffc1c1;
$overlay: #ffc1c191;

/* site effects defined as mixins in SCSS */

@mixin site-links {
    background:
       linear-gradient(
       to right,
       $caramel 0%,
       $caramel 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0.5px 0.5px;
    
    text-decoration: none;
    transition: background-size .025s;
}

@mixin site-links-hover {
    background-size: 0.5px 50px;
}

@mixin cake-button {
    
}

body {
    background: {
        color: $dpink;
        image: linear-gradient($overlay, $overlay), url(../img/art-artificial-background-1061581.jpg);
        size: cover;
        repeat: no-repeat;
    }
    font-family: 'Noto Sans', sans-serif;
    color: $dchoc;
}

.container-fluid {
    padding: 0px;
    
}

.navbar {
    background-color: $dpink;
    color: $dchoc;
    padding: 0px;
    box-shadow: 0px 1px 5px 0px rgba(127,96,96,1);
}

.navbar-brand {
    margin: 0px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    color: $dchoc;
    font-family: 'Sofia', cursive;
    font-size: 2rem;
    @include site-links;
}

.navbar-brand:hover {
    color: $dpink;
    @include site-links-hover;    
}

.nav-link {
    margin: 0px;
    padding: 15px;
    color: $dchoc;
    @include site-links;
}

.nav-link:hover {
    color: $dpink;
    @include site-links-hover;    
}

footer {
    background-color: $dpink;
    text-align: center;
}

.footer-info {
    margin: 0;
}

/* index styles */

.desktop {
    @media (max-width: 991.98px) {
        display: none;
    }
    @media (min-width: 992px) {
        visibility: visible;
        height: 100%;
        overflow: hidden; 
    }
}


.index-layout {
    position: relative;
    height: 95vh;
    overflow: hidden;
}

.overlay {
    left: 0px;
    position: absolute;
    top: 10%;
    background: $overlay;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 1;
    @media (max-width: 991.98px) {
        display: none;
    }
    @media (min-width: 992px) {
        visibility: visible;
        height: 100%;
        overflow: hidden; 
    }
}

.title {
    position: absolute;
    font-family: 'Sofia', cursive;
    color: $caramel;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#site-title {
        @media (max-width: 991.98px) {
        font-size: 3rem;
    }
        @media (min-width: 992px) {
        font-size: 6.5rem;
    }
}

#myVideo {
    position: absolute;
    width: 110%;
    z-index: -1;
    
}

#mobile-background {
    height: 100vh;
    width: auto;
}



/* search results.html */

.search-results-layout {
    position: relative;
    height: 95vh;
    overflow-x: scroll;
}

.recipe-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px; 
    top: 10%;
    position: absolute;
    z-index: 2;
}

/* add recipe.html */

.add-recipe-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-recipe {
    margin: 100px 0px;
    padding: 20px;
    border-bottom-width: 20px;
    background-color: $ppink;
    width: 80%;
}
