/* site colors defined in SCSS*/
 
$caramel: #883d07;
$ppink: #fff6f3;
$choc: #673f33;
$dchoc: #3b241f;
$dpink: #ffc1c1;
$overlay: #ffc1c191;

/* site fonts defined in SCSS*/

$site-font: 'Noto Serif', serif;
$fancy-font: 'Sofia', cursive;

/* site effects defined as mixins in SCSS */

@mixin site-links {
    /* Ian Lunn hover fade */
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

@mixin site-links-hover {
    background-color: $caramel;
    color: $dpink;
}



@mixin cake-button {
    background-color: $dpink;
    color: $dchoc;
    border-color: #b98a8a;
    
}

@mixin cake-button-hover {
    background-color: $caramel;
    color: $dpink;
    border-color: $dchoc;
}

/* site standard styles */


body {
    background: {
        color: $dpink;
        image: linear-gradient($overlay, $overlay), url(../img/art-artificial-background-1061581.jpg);
        size: cover;
        repeat: repeat;
    }
    font-family: $site-font;
    color: $dchoc;
}


.navbar {
    background-color: $dpink;
    color: $dchoc;
    padding: 0px;
    box-shadow: 0px 1px 5px 0px rgba(127,96,96,1);
}

.navbar-brand {
    margin: 0px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    color: $dchoc;
    font-family: $fancy-font;
    font-size: 2rem;
    &:hover {
        color: $caramel;
    }
}


.navbar-toggler {
    &:hover {
        color: $dpink;
        background-color: $caramel;
    }
}

.nav-link {
    margin: 0px;
    padding: 15px;
    color: $dchoc;
    text-align: center;
    display: block;
    @include site-links;
    &:hover {
        color: $dpink;
        @include site-links-hover;
    }
}

.user_msg {
    background-color: $ppink;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 30px 15px;
    p {
        margin: 0px;
        padding: 15px;
        border: solid 1px $dpink;
    }
    @media (min-width: 992px) {
    }
}

.message-box {
    height: 65px;
}

#user-welcome {
    width: 100%;
    @media (min-width: 992px) {
        width: auto;
    }
}

.hidden {
    display: none;
}

.visible {
    visibility: visible;
}

footer {
    background-color: $dpink;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0px;
}

.footer-info {
    font-size: 1rem;
    margin: 0;
}

.icon-credits {
    font-size: 0.8rem;
    margin-bottom: 0;
    a {
        text-decoration: none;
        color: $dchoc;
    }
}

.cake-btn {
    @include cake-button;
    &:hover, &:not(:disabled):not(.disabled):active {
        @include cake-button-hover;
    }
    &:disabled, &.disabled {
        background-color: $caramel;
        color: $dpink;
        text-decoration: none;
        border: none;
    }
    &:not([href]):not([tabindex]):hover {
            color: $dpink;
    
    }
        
    
}
/* scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $ppink;
}

::-webkit-scrollbar-thumb {
    background: $caramel;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: $dpink;
}

/* custom checkboxes */
.form-check-label {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $dchoc;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        :checked ~ .checkmark {
            background-color: $caramel;
        }
    }
    &:hover {
        input {
            ~ .checkmark {
                background-color: #ccc;
            }
        }
    }
}


/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
 }

/* On mouse-over, add a grey background color */
.form-check-label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a background */
.form-check-label input:checked ~ .checkmark {
  background-color: $caramel;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
 }

/* Show the checkmark when checked */
.form-check-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.form-check-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 12px;
  border: solid $dpink;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* index styles */

.desktop {
    @media (max-width: 991.98px) {
        display: none;
    }
    @media (min-width: 992px) {
        visibility: visible;
        height: 100%;
        overflow: hidden; 
    }
    @media (min-width: 2559px) {
        display: none;
    }
}


.index-layout {
    position: relative;
    height: 94.5vh;
    overflow: hidden;
    @media (min-width: 1023.98px) {
        height: 95.6vh;
    }
}

.overlay {
    left: 0px;
    position: absolute;
    background: $overlay;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 1;
    @media (max-width: 991.98px) {
        display: none;
    }
    @media (min-width: 992px) {
        visibility: visible;
        height: 100%;
        width:100%;
        overflow: hidden; 
    }
}

.title {
    position: absolute;
    font-family: $fancy-font;
    color: $caramel;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#site-title {
    text-shadow: 2px 2px 4px #eac0a2;
    @media (max-width: 991.98px) {
        font-size: 3rem;
    }
    @media (min-width: 992px) {
        font-size: 6.5rem;
    }
}

#title-text {
    text-align: center;
    width: 80%;
    font-size: 1.4rem;
    text-shadow: 2px 2px 4px #eac0a2;
}

#index-search {
    width: 80%;
    @media (min-width: 425.1px) {
        width: 56%;
    }
    @media (min-width: 1024.1px) {
        width: 34%;
    }
}

.checkboxes {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    @media (min-width: 767.9px) {
        justify-content: space-between;
    }
}

#myVideo {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    object-position: left;
}

#index-search {
    font-family: $site-font;
}



/* search results.html */

.search-results-layout {
    position: relative;
    min-height: 95.8vh;
    margin-top: 80px;
    
}

.user-cards,
.recipe-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px; 
    margin-top: 30px;
    width: 100%;
}

.r-card {
   height: 37rem;
   width: auto;
   margin-bottom: 15px;
   background-color: $ppink;
   img {
       object-fit: cover;
   }
}

.r-card-title,
.likes-info {
    border-bottom: solid 1px $dpink;
    padding-bottom: 15px;
}

.accordion {
    margin-top: 20px;
}

.btn-link {
    text-decoration: none;
    color: $dchoc;
    &:hover {
        color: $caramel;
        text-decoration: none;
    }
}

.card-header {
    background-color: $ppink;
}

.card-row {
    margin: 0px
}

.card-title {
    font-family: $fancy-font;
}

.card-text {
    height: 10rem;
    margin-bottom: 50px;
}



.card-img-top {
    height: 14rem;
}

.card-btn {
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-left: 0;
    padding: 0px 20px;
    a {
        @include cake-button;
        &:hover {
            @include cake-button-hover;
        }
        &:not(:disabled):not(.disabled):active {
            @include cake-button-hover;
            box-shadow: 0, 0, 0, 0.2rem rgba(185,138,138,0.5);
        }
    }
}

.tags {
    padding-right: 10px;
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
}

.filter-heading {
    font-family: $fancy-font;
    font-size: 1.5rem;
    cursor: pointer;
}

/* add recipe.html */

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-recipe {
    margin: 100px 0px;
    padding: 20px;
    border-bottom-width: 20px;
    background-color: $ppink;
    width: 80%;
}

#search-again-btn {
    margin-left: 20px;
}

/* view recipe.html */

.view-recipe-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 94.7vh;
    
}


.view-recipe {
    background-color: $ppink;
    width: 95%;
    margin-top: 70px;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.recipe-img {
    display: inline-block;
    img {
    width: 100%;
    margin-bottom: 15px;
    height: auto;
    object-fit: cover;
    }
}

.tag-details {
    display: inline-block;
    float: right;
}

/* user home.html */
.user-home-layout {
    margin-top: 60px;
    @media (min-width: 992px) {
        height: 90.5vh;
    }
}

.user-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    margin: 0px;
    margin-top: 30px;
    width: 100%;
    @media (min-width: 992px) {
        height: 93%;
    }
}

.u-card {
   height: 26rem;
   width: auto;
   margin-bottom: 15px;
   background-color: $ppink;
   img {
       object-fit: contain;
       border-bottom: solid 1px $dpink;
       padding-bottom: 10px;
   }
}

.u-card-title {
    font-family: $fancy-font;
    text-align: center;
    font-size: 2.25rem;
}

.u-card-btn {
    justify-content: center;
} 


/* register and login */

.view-user-login {
    height: 75vh;
    width: 87%;
    margin-top: 90px;
    @media (min-width: 426px) {
        height: 46vh;
        margin-top: 180px;
    }
    @media (min-width: 992px) {
        height: 48vh;
        width: 50%;
        margin-top: 215px;
    }
}

.login-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 97.5vh;
}

/* edit account */
.edit-account {
    input {
        margin-left: 30px;
    }
}

.edit-details {
    height: 80vh;
    margin-top: 62px;
    @media (min-width: 426px) {
        height: 57vh;
        margin-top: 125px;
    }
}

.edit-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* add recipe */

.add-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

