{% extends 'base.html' %}
{% block content %}
<div class="layout">
    <div class="add-recipe">
        <h3>Add a Recipe</h3>
        <hr>
        <form action="{{ url_for('insert_recipe') }}" method="POST">
            <div class="form-group">
                <label for="title">Recipe Title</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <!-- Username disabled so user can't change author -->
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" id="author" name="author" placeholder="{{ the_user.username.capitalize() }}" value="{{ the_user.username.capitalize() }}" disabled>
            </div>
            <div class="form-group">
                <label for="serves">Serves</label>
                <input type="text" class="form-control" id="serves" name="serves" placeholder="e.g. 6-8">
            </div>
            <select class="form-group custom-select" id="prep_time" name="prep_time">
                <option selected disabled>Preparation Time - Choose One</option>
                <option value="under 30 mins">Under 30mins</option>
                <option value="30 mins to 1hr">30mins - 1 hour</option>
                <option value="1hr to 1hr 30mins">1 hour - 1hr 30mins</option>
                <option value="1hr 30mins to 2hrs">1hr 30mins - 2 hours</option>
                <option value="over 2 hours">Over 2 hours</option>
            </select>
            <select class="form-group custom-select" id="main_ingredient" name="main_ingredient">
                <option selected disabled>Main Ingredient - Choose One</option>
                <option value="chocolate">Chocolate</option>
                <option value="strawberry">Strawberry</option>
                <option value="banana">Banana</option>
                <option value="caramel">Caramel</option>
                <option value="custard">Custard</option>
                <option value="fruit">Fruit</option>
                <option value="coffee">Coffee</option>
                <option value="nuts">Nuts</option>
                <option value="toffee">Toffee</option>
                <option value="other">Other</option>
            </select>
            <div class="form-group">
                <label for="recipe_description">Write a short description...</label>
                <textarea class="form-control" id="recipe_description" name="recipe_description" rows="4"></textarea>
            </div>
            <p>Please enter each ingredient and quantity (don't forget the measurement) and press 'Add' to add to the database.</p><br>
            <div class="form-group ing-group">    
                <div class="form-inline">
                    <label class="sr-only" for="ingredient">Ingredient</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="ingredient" name="ingredient" placeholder="Ingredient">
                    <label class="sr-only" for="amount">Amount</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="amount" name="amount" placeholder="e.g. 100g">
                </div>
            </div>  
            <button class="btn cake-btn add-btn" type="add" id="ing-btn" value="add">Add</button>
            <div class="form-group">
                <label for="img_url">Image URL</label>
                <input type="text" class="form-control" id="img_url" name="img_url">
            </div>
            <div class="form-group">
                <label for="method">Method</label>
                <textarea class="form-control" id="method" name="method" rows="10"></textarea>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="vegan" name="vegan">
                <label class="custom-control-label" for="vegan">Vegan?</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="dairyfree" name="dairyfree">
                <label class="custom-control-label" for="dairyfree">Dairy-free?</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="glutenfree" name="glutenfree">
                <label class="custom-control-label" for="glutenfree">Gluten-free?</label>
            </div>
            <button type="submit" class="btn btn-primary cake-btn add-btn">Submit Recipe</button>
            <button class="btn btn-primary cancel-btn cake-btn add-btn" type="reset" value="cancel">Cancel</button>
        </form>
    </div>

{% endblock %}