<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Sofia" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css" />
    <title>Dessert Finder</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <a class="navbar-brand" href="{{ url_for('home') }}">Dessert Finder</a>
                
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item" id="login-link">
                        <a class="nav-link" href="{{ url_for('user_login') }}">Login</a>
                    </li>
                    <li class="nav-item" id="logout-link">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Add a Recipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Add a Recipe</a>
                    </li>
                </ul>
                {% if user_message %}
                <span class="navbar-text">
                    <div class="user_msg">
                        <a href="{{ url_for('user_home') }}" class="nav-link"><i class="fas fa-user"></i> {{ user_message }}</a>
                    </div>
                </span>
                {% endif %}
            </div>
        </nav>
    </header>
    
    <main>
        <div class="container-fluid">
            {% block content %}
    
            {% endblock %}
        </div>
    </main>
    <footer>
        <div class="footer-copyright">
            <p class="footer-info">Dessert Search ©2019 Alexa Gibson</p>
        </div>
    </footer>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>


