<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Sofia" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css" />
    <title>Dessert Search</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <a class="navbar-brand" href="{{ url_for('home') }}">Dessert Search</a>
                
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item" id="login-link">
                        <a class="nav-link" href="{{ url_for('user_login') }}">Login</a>
                    </li>
                    <li class="nav-item hidden" id="logout-link">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    <li class="nav-item" id="signup-link">
                        <a class="nav-link" href="{{ url_for('user_register') }}">Sign Up</a>
                    </li>
                    <li class="nav-item hidden" id="add-recipe-link">
                        <a class="nav-link" href="{{ url_for('add_recipe') }}">Add a Recipe</a>
                    </li>
                    <li class="nav-item hidden" id="user-home-link">
                        <a class="nav-link" href="{{ url_for('user_home') }}">My Home</a>
                    </li>
                    
                </ul>
                <span class="navbar-text nav-link" id="user-welcome">
                        
                </span>
            </div>
        </nav>
    </header>
    
    <main>
        <div class="container-fluid">
            {% block content %}
    
            {% endblock %}
        </div>
    </main>
    <footer>
        <div class="footer-copyright">
            <p class="footer-info">Dessert Search ©2019 Alexa Gibson</p>
            <div>
                <p class="icon-credits">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p></div>
        </div>
    </footer>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>


