{% extends 'base.html' %}
{% block content %}
<div class="index-layout">
    <div class="overlay"></div>
    <div class="title">
        <h1 id="site-title">Dessert Finder</h1>
        <p id="title-text">Welcome to Dessert Finder. Search our database of delicious desserts by your favourite ingredient and find something to stun your family and friends.</p>
        <form action="{{ url_for('find_recipes') }}" method="POST" id="index-search">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search by ingredient" id="search_text" name="search_text">
                <div class="input-group-append search-box">
                    <button class="btn btn-outline-secondary site-btn" type="submit">Yummy!</button>
                </div>
            </div>
           
               <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="check" name="check" value="vegan">
                    <label class="form-check-label" for="check">Vegan</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="check" name="check" value="dairy_free">
                    <label class="form-check-label" for="check">Dairy-Free</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="check" name="check" value="gluten_free">
                    <label class="form-check-label" for="check">Gluten-Free</label>
                </div>
            
        </form>
    </div>
    <div class="video desktop">
        <video autoplay muted loop id="myVideo"><source src="{{ url_for('static', filename='img/FoodPack1_18_Videvo.mov') }}" type="video/mp4"></video>
    </div>

</div>

{% endblock %}