{% extends 'base.html' %}
{% block content %}
<div class="view-recipe-layout">
    <div class="view-recipe view-user-login edit-details">
        <div class="recipe-title">
            <h2>Edit your Details</h2>
        </div>
        <!-- Edit details with WTForm using CSRF Token and form-control -->
        <div class="recipe-body edit-account">
            <form action="{{ url_for('update_user', user_id=user._id) }}" method="POST">
                <div class="form-group edit-input">
                    <label>{{user.username.capitalize()}}</label>
                    {{ form.csrf_token }}
                    {{ form.username(size=32, placeholder="Choose a new username", class="form-control" ) }}
                </div>
                <div class="form-group edit-input">
                    <label>{{user.first_name.capitalize()}}</label>
                    {{ form.firstname(size=32, placeholder="Change your first name", class="form-control" ) }}
                </div>
                <div class="form-group edit-input">
                    <label>{{user.last_name.capitalize()}}</label>
                    {{ form.lastname(size=32, placeholder="Change your last name", class="form-control" ) }}
                </div>
                <div class="form-group edit-input">
                    <label>Password</label>
                    {{ form.password(size=32, placeholder="Change your password", class="form-control" ) }}
                </div>
                <button type="submit" class="btn btn-primary cake-btn">Update</button>
                <a href="{{ url_for('user_home') }}" class="btn btn-primary cancel-btn cake-btn">Cancel</a>
            </form>
        </div>
    </div>
</div>


{% endblock %}