{% extends 'base.html' %}
{% block content %}
<div class="login-layout">
    <div class="view-recipe view-user-login">
        <div class="recipe-title">
            <h2>Sign Up to Dessert Search</h2>
        </div>
        <div class="recipe-body">
            <form action="{{ url_for('register') }}" method="POST">
                {% if error %}
                    <div class="error_msg">
                        <p><strong>Oops: {{error}} </strong></p>
                    </div>
                {% endif %}
                <!-- Using WTForms to handle form data -->
                <div class="form-group">
                    {{ form.csrf_token }}
                    {{ form.username(size=32, placeholder="Choose a username", class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.firstname(size=32, placeholder="Your First Name", class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.lastname(size=32, placeholder="Your Last Name", class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.password(size=32, placeholder="Password", class="form-control") }}
                </div>
                <button type="submit" class="btn btn-primary cake-btn">Sign Up</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}