{% extends 'base.html' %}
{% block content %}
<div class="view-recipe-layout">
    <div class="view-recipe">
        <div class="recipe-title">
            <h2>{{recipe.title.title()}}</h2>
        </div>
        <div class="recipe-body">
            <!--<div class="recipe-img">
                {% if recipe.main_ingredient == "chocolate" %}
                <img src="{{ url_for('static', filename='img/chocolates-close-up-cocoa-65882.jpg') }}"></img>
                {% elif recipe.main_ingredient == "banana" %}
                <img src="{{ url_for('static', filename='img/berries-citrus-citrus-fruits-1132047.jpg') }}"></img>
                {% endif %}
            </div> -->
            <div class="recipe-ingredients">
                <h4>Ingredients</h4>
                <ul>
                    {% for item in recipe.ingredients %}
                        
                        <li>{{item['ingredient'].capitalize()}} - {{item['amount']}}</li>
                        
                    {% endfor %}
                </ul>    
            </div>
            <div class="recipe-method">
                <h4>Method</h4>
                <p>{{recipe.method.capitalize()}}</p>
            </div>
        
            
        </div>
    </div>
</div>

{% endblock %}