{% extends 'base.html' %}
{% block content %}
<div class="view-recipe-layout">
    <div class="view-recipe">
        <div class="recipe-title">
            <h2>{{recipe.title.title()}}</h2>
        </div>
        <div class="recipe-body">
            <div class="recipe-img">
                {% if recipe.image %}
                    <img src="{{ recipe.image }}" class="card-img-top"></img>
                {% else %}
                    <img src="{{ url_for('static', filename='img/art-artificial-background-1061581.jpg') }}" class="card-img-top"></img>
                {% endif %}
            </div>
            <div class="recipe-likes">
                <p>This recipe has {{ recipe.like_count }} {% if recipe.like_count == 1 %} like. {% else %} likes. {% endif %}</p>
                <a href="{{ url_for('like_recipe', recipe_id=recipe._id, loggeduser=users._id) }}" class="btn like-btn"><i class="far fa-thumbs-up">Like Recipe</i></a>
            </div>  
            <div class="recipe-ingredients">
                <h4>Ingredients</h4>
                <ul>
                    {% for key, val in recipe.ingredients.items() %}
                        <li>{{ key.capitalize() }} - {{ val }}</li>
                    {% endfor %}
                </ul>    
            </div>
            <div class="recipe-method">
                <h4>Method</h4>
                <p>{{recipe.method.capitalize()}}</p>
            </div>
            <button class="btn btn-primary cancel-btn" type="reset" value="cancel">Back</button>
        </div>
    </div>
</div>

{% endblock %}